<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="dialect" value="mysql" />
		<property name="pageSqlId" value=".*Page$" />
	</properties>
	
	<!-- 注册Mybatis分页查询拦截器插件 -->
	<plugins>
		<plugin interceptor="com.yzgs.interceptors.PageInterceptor">
			<property name="databaseType" value="mysql" />
		</plugin>
	</plugins>
	
</configuration>	
